<%- include('includes/header')%>

    <body>
        <h1>Welcome <%= user.name %>
        </h1>
        <h3>Your email is <%= user.email %>
        </h3>
        <h5>Your city is <%= user.city %>
        </h5>

        <ul>
            <% user.skillset.forEach((items)=>{ %>
                <li>
                    <%= items %>
                </li>
                <% }) %>
        </ul>
    </body>

    <%- include('includes/footer')%>